.input-div {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
.input-div .input-form,
.input-div .input-select,
.input-div .input-textarea {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  font-size: var(--size-medium);
  border: 1px solid var(--grey-color-2);
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: var(--grey-color-3);
  z-index: 1;
}
.input-div .input-textarea {
  resize: none;
}
.input-div .label-form,
.input-div .label-icon {
  position: absolute;
  left: var(--size-medium);
  top: 0.7rem;
  padding: 0 0.25rem;
  background: none;
  color: var(--grey-color-1);
  font-size: var(--size-small-1);
  transition: 0.3s;
  z-index: 2;
}
.input-div .label-icon {
  left: unset;
  right: var(--size-medium);
}
.input-div .input-textarea:focus,
.input-div .input-form:focus {
  border: 1.5px solid var(--third-color);
  background: none;
}
.input-div .input-textarea:focus + .input-div .label-form {
  top: -0.8em;
  left: 0.8em;
  background-color: var(--white-color);
  color: var(--third-color);
  font-size: var(--size-small-2);
  font-weight: 500;
  z-index: 10;
}
.input-div .input-form:focus + .input-div .label-form {
  top: -0.8em;
  left: 0.8em;
  background-color: var(--white-color);
  color: var(--third-color);
  font-size: var(--size-small-2);
  font-weight: 500;
  z-index: 10;
}
.input-div .input-textarea:focus ~ .input-div .label-icon {
  background-color: var(--white-color);
  color: var(--third-color);
}
.input-div .input-form:focus ~ .input-div .label-icon {
  background-color: var(--white-color);
  color: var(--third-color);
}

.input-div .input-textarea:not(:placeholder-shown).input-form:not(:focus) + .label-form {
  top: -0.7rem;
  left: 0.7rem;
  font-size: var(--size-small-2);
  font-weight: 500;
  z-index: 10;
}
.input-div .input-form:not(:placeholder-shown).input-form:not(:focus) + .label-form {
  top: -0.7rem;
  left: 0.7rem;
  font-size: var(--size-small-2);
  font-weight: 500;
  z-index: 10;
}
.input-div span {
  color: var(--red-color);
  font-size: var(--size-small-1);
}
.input-div .input-image {
  width: 15%;
  height: 170px;
  border: 1px solid var(--grey-color-3);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.input-div .input-image .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.input-div .input-image .input-upload {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  right: 5px;
}
.input-div .input-image .input-upload .input-file {
  display: none;
}
.input-div .input-image .input-upload .input-file-label {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 0.4em;
  color: var(--white-color);
  cursor: pointer;
  padding: 0.7em !important;
  font-size: var(--size-small-1);
}

input[type="checkbox"] {
  margin-right: var(--size-medium);
}

.switch-wrapper {
  border: 1px solid var(--grey-color-3);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 110px;
  padding: 0.5rem;
}
.switch-wrapper span {
  font-size: var(--size-medium);
  font-weight: bold;
  letter-spacing: 1px;
}
.switch-wrapper .switch {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: var(--grey-color-3);
  border-radius: 1rem;
  cursor: pointer;
}
.switch-wrapper .switch .switched {
  position: relative;
  top: -1px;
  width: 25px;
  height: 25px;
  background-color: var(--red-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease-in-out;
}
.switch-wrapper .switch .switched .icon {
  color: var(--white-color);
  font-size: var(--size-medium);
}
.switch-wrapper .switch .switched-active {
  margin-left: auto;
  background-color: var(--green-color) !important;
}
.switch-wrapper .switch .switched-inactive {
  margin-right: auto;
  background-color: var(--grey-color-1);
}
